<!DOCTYPE html>
<html ng-app="tbz">
<head>
	<title>Tenra Bansho Zero</title>

	<link rel="stylesheet" type="text/css" href="css/styles.css" />
	<link rel="shortcut icon" href="img/favicon.png">
</head>

<body>

<div class="side-bar">
	<img class="logo" src="img/tenra-logo.png" />
	<div class="title">REGENT</div>

	<div class="menu" ng-controller="MenuCtrl">

		<!-- Login -->
		<div class="login" ng-show="login.show">
			<legend>Login</legend>

			<form>
				<!-- Username Input -->
				<div class="labled-input">
					<span class="input-label"><i class="icon-user"></i></span>
					<input
						id="username"
						type="text"
						placeholder="Username"
						autofocus="autofocus"
						ng-model="username" />
				</div>

				<!-- Password Input -->
				<div class="labled-input">
					<span class="input-label"><i class="icon-lock"></i></span>
					<input
						id="password"
						type="password"
						placeholder="Password"
						ng-model="password" />
				</div>

				<!-- Repeat Password Input -->
				<div class="labled-input" ng-show="inRegisterMode()">
					<span class="input-label"><i class="icon-lock"></i></span>
					<input
						id="passwordRepeat"
						type="password"
						placeholder="Repeat Password"
						ng-model="passwordRepeat" />
				</div>

				<!-- Login and Register Buttons (for login mode) -->
				<div ng-show="inLoginMode()">
					<button
						class="default-button"
						ng-click="loginUser(username, password)">
						Login
					</button>
					<button ng-click="toggleLoginMode()">Register</button>
					<i class="processing-login" ng-show="processingLogin"></i>
				</div>

				<!-- Register and Cancel Buttons (for register mode) -->
				<div ng-show="inRegisterMode()">
					<button
						class="default-button"
						ng-click="registerUser(username, password, passwordRepeat)">
						Submit
					</button>
					<button ng-click="toggleLoginMode()">Cancel</button>
					<i class="processing-login" ng-show="processingLogin"></i>
				</div>

				<label class="checkbox">
					<input type="checkbox">Stay logged in?</input>
				</label>

				<alert
					ng-repeat="alert in menuAlerts"
					type="alert.type"					
					close="closeMenuAlert($index)">{{alert.msg}}
				</alert>
			</form>
		</div>

		<!-- Dynamic Menu -->
		<div ng-show="!login.show">
			<ul class="menu-category"
				ng-repeat="item in menu"
				ng-show="item.show || item.alwaysShow">

				<li class="menu-option">
					<a ng-click="item.collapsed = !item.collapsed">
						{{item.name}}
						<i ng-class="getCaret(item.type, item.collapsed)"></i>
					</a>

					<ul class="sub-category" collapse="item.collapsed">
						<li class="menu-option"
							ng-repeat="option in item.items"
							ng-click="option.func()">
							<i ng-class="option.icon"></i>{{option.name}}
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</div>

<div class="content" ng-controller="CardsCtrl">
	<div class="card {{card.type}}" ng-repeat="card in cards">
		<tbz-card card="card"></tbz-card>
	</div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular-resource.js"></script>
<script src="js/vendor/ui-bootstrap-tpls-0.3.0.min.js"></script>

<script src="js/app.js"></script>

<script src="js/controllers/CardsCtrl.js"></script>
<script src="js/controllers/MenuCtrl.js"></script>

<script src="js/directives/tbzLoadImage.js"></script>
<script src="js/directives/tbzCard.js"></script>

<script src="js/services/DataService.js"></script>
<script src="js/services/CardService.js"></script>

</body>
</html>
